node-red/.flows.json.backup
[
    {
        "id": "834b73d92d2d0f01",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c7b55ced3f7365d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcd841fbaba3184b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab4256557d4a6aac",
        "type": "mqtt-broker",
        "name": "provolone",
        "broker": "ws://mqtt:8000",
        "port": "8000",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1a3cd9b708133f3a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac45a6a93184702e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7a6e4a7151544774",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5e317bd49bd8242f",
        "type": "ui_group",
        "name": "Locatization",
        "tab": "7a6e4a7151544774",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85621b31f330f358",
        "type": "ui_group",
        "name": "Charts",
        "tab": "7a6e4a7151544774",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3183d960bb512fc5",
        "type": "ui_group",
        "name": "Default",
        "tab": "1a3cd9b708133f3a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c51a91cb42a5ee81",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "smartparking",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "passwordsupersegretissima1!",
        "passwordFieldType": "str"
    },
    {
        "id": "93b2eeaeb22ea01c",
        "type": "mqtt-broker",
        "name": "EclipseMQTT",
        "broker": "mqtt://mqtt.eclipseprojects.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c51a1d005da8c5eb",
        "type": "ui_tab",
        "name": "Graph",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75945688ffe5ab41",
        "type": "ui_tab",
        "name": "Table",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "839f3c1732480203",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "76afe1f198cf9cf8",
        "type": "ui_tab",
        "name": "Threshold",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74c5bb2a042bdbb5",
        "type": "ui_group",
        "name": "Graphs",
        "tab": "c51a1d005da8c5eb",
        "order": 1,
        "disp": true,
        "width": "29",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74ac322ea7a587ec",
        "type": "ui_group",
        "name": "Table",
        "tab": "75945688ffe5ab41",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4059bd43bd8074b",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "839f3c1732480203",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8aba1e57f64933b1",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "76afe1f198cf9cf8",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d68488966d4e4189",
        "type": "ui_tab",
        "name": "Smart Parking",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3466174b0640b450",
        "type": "ui_group",
        "name": "Test",
        "tab": "d68488966d4e4189",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "06a6106d492f6497",
        "type": "sqlitedb",
        "db": "/home/skalla/GitHub/Aprus/dashboard/data.db",
        "mode": "RWC"
    },
    {
        "id": "b0a8e3b3b43f1010",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-1/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "a1f30bb30f2edf9e",
        "type": "debug",
        "z": "834b73d92d2d0f01",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "2203b360efd12625",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-2/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "c58060a98ffdd37b",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-3/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "e03094effb7903c1",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-1/up_link",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "b49dbd345230accd",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-2/up_link",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 640,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "50e0ff3c8ccec022",
        "type": "mqtt in",
        "z": "834b73d92d2d0f01",
        "name": "",
        "topic": "gateway-3/up_link",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab4256557d4a6aac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "a1f30bb30f2edf9e"
            ]
        ]
    },
    {
        "id": "272c2be8da5ee20a",
        "type": "postgresql",
        "z": "9c7b55ced3f7365d",
        "name": "",
        "query": "SET search_path TO smartparking;\nSELECT * FROM gateway;",
        "postgreSQLConfig": "c51a91cb42a5ee81",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "90ef55b0e5736b11",
                "10297d4e36b138d9"
            ]
        ]
    },
    {
        "id": "90ef55b0e5736b11",
        "type": "debug",
        "z": "9c7b55ced3f7365d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "f8ed7c24a6716043",
        "type": "inject",
        "z": "9c7b55ced3f7365d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "272c2be8da5ee20a"
            ]
        ]
    },
    {
        "id": "5028fa06fc0846c2",
        "type": "ui_chart",
        "z": "9c7b55ced3f7365d",
        "name": "",
        "group": "3466174b0640b450",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "label",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "10297d4e36b138d9",
        "type": "function",
        "z": "9c7b55ced3f7365d",
        "name": "function 2",
        "func": "msg.payload = 50\nmsg.topic = \"Status\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "5028fa06fc0846c2",
                "2339dd5863b82e3b"
            ]
        ]
    },
    {
        "id": "2339dd5863b82e3b",
        "type": "debug",
        "z": "9c7b55ced3f7365d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 260,
        "wires": []
    }
]